  .container_blog {
    display: flex;
    justify-content: center;
    column-gap:40px;
    row-gap: 60px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .blog {
    height: 460px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 30px;
    filter: drop-shadow(23px 24px 36px rgba(42, 254, 243, 0.25));
  }
  
  .blog:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  
  }
  
  .read_btn {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .read_btn:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
  
  .image img {
    object-fit: cover;
    width: 350px;
    border-radius: 30px 30px 0px 0px;
    height: 349px;
  }
  
  
  .blog_content {
    top: 214px;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
    background-color: white;
    color: #3845f6;
  }
  
  .blog_content:hover {
    background-color: white;
  }
  
  .head {
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family: "Arvo", serif;
  }
  
  .description {
    margin-top: 5px;
    color: gray;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }
  